@charset "UTF-8";

/* Estilos para Cadastro */
main {
    margin-top: 200px;
    margin-bottom: 70px;
}

.logo-taurus {
    margin-left: -12px;
}

/* Estilo botão de upload personalizado */
.custom-file-input {
    display: none;
}

/* Responsividade para o painel de login */
@media (max-width: 576px) {
    #loginPanel {
        position: static !important;
        max-width: 100vw;
    }
}

@media (max-width: 992px) {
    .coluna-esquerda {
        margin-top: -1rem;
        margin-left: 0.1rem;
    }
}

