@charset "UTF-8";

/* Importando a fonte Adineue PRO */
@import url('https://db.onlinewebfonts.com/c/b82329475307e0380dc1ea23f0c35266?family=adineue+PRO');

/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
}

:root {
  --primary-color: #f89616;
  --text-color: #000;
  --font-principal: 'adineue PRO', sans-serif;
}
