@charset "UTF-8";

/* Index */
.hero-text {
  min-height: 100vh;
  background: url('../imagens/img_index1.png') no-repeat top center;
  background-size: cover;
}

.bg-transform{
  background-color: var(--primary-color); 
}

/* Icone da seta */
.bi-seta {
  color: var(--primary-color);
}

.bounce-arrow {
  display: inline-block;
  animation: bounce 1.4s infinite;
  margin-bottom: 5px; /* Sobe a seta */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Seção de Serviços */
.servicos .card {
  transition: transform 0.3s ease;
}

.servicos .card:hover {
transform: scale(1.04);
}
